<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--SITE META-->
    <!--If the current page doesn't have a title, the file name is used-->
    <title>I Need To Get Some Work Done</title>
    <meta title=”description” content="The official dev blog for I Need To Get Some Work Done">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div id="site-container">

        <div id="nav-container" class="container">
            <div id="title" class="left-major">
                <!--<img id="logo" src="images/intgswd-logo-type.png"></img>-->
                <h1>I need to get some work done</h1>
            </div>
        </div>

        <div id="content-container" class="container">

            <div id="post" class="left-major">
                <div class="box">
                    <div id="section-header">
                        <h3>{{ page.date | date: "%-m/%-d/%Y" }}</h3>
                    </div>
                    <h2>{{ page.title }}</h2>
                    {{ page.content }}
                    </p>
                </div>
            </div>

            <div id="archive" class="right-minor">
                <div class="box">
                    <div id="section-header">
                        <h3>Archive</h3>
                    </div>
                    <ul>
                        {% for post in site.posts %}
                        <li>
                            {% assign post_identifier = post.date | append: post.slug %}
                            {% assign page_identifier = page.date | append: page.slug %}
                            <a class="post-link" href="{{ post.url }}" class="{% if post_identifier == page_identifier %}active{% endif %}">
                                {{ post.date | date: "%-m/%-d/%Y" }} {{ post.title }}
                                <br />
                                {{ post_identifier }}
                                <br />
                                {{ page_identifier }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <div id="footer-container">
            <div id="description" class="left-major">
                <div class="box">
                    <div id="section-header">
                    </div>
                    <ul>
                        <li>
                            A project by Pedestrian Tactics
                        </li>
                        <li>
                            <ul>
                                <li><a href="https://pedestriantactics.com">Website</a></li>
                                <li><a href="https://twitter.com/pedestriantac">Twitter</a></li>
                                <li><a href="https://www.instagram.com/pedestriantactics">Instagram</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</body>

</html>